.detailsContainer
{
	width: 60%;
	margin: 10px auto;    
}

.selectClass
{
	width: 300px;
	margin: 10px
}

.containerList{
	padding: 20px;
}

#ddl_Products{
	display:inline;
}

.redAlert{
	color : red;
}